<div class="message">
  <div class="flex">
    <div class="user-icon flex">
      <a href="<%= user_path(message.user.user_id) %>">
        <%= image_tag message.user.icon.small.url, class: "radius", width: "40px" %>
      </a>
    </div>
    <div class="name-and-content flex-column">
      <%= link_to message.user.name, user_path(message.user.user_id) %>
      <%= simple_format(message.content, { class: "content" }, wrapper_tag: :h4) %>
    </div>
  </div>
  <span class="created_at"><%= l(message.created_at) %></span>
</div>
