<%= provide(:title, "Chat Rooms") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Chat Rooms</h1>
    <ul id="rooms">
      <%= render @rooms %>
    </ul>

    <% if user_signed_in? %>
      <%= form_for(@room) do |f|%> 
        <%= f.label :name, "room name :" %>
        <%= f.text_field :name %>
        <%= f.submit "create new room", class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>
