<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |flash_type, message| %>
        <div class="alert alert-<%= "#{flash_type}" %>"><%= message %></div>
      <% end %>
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
  </body>
</html>
